.main {
	background-color: rgb(253, 253, 253);
	height:35rem;
	width: 100%;
	max-width: 60rem;
	padding: 3rem;
	margin: 2rem auto;
	text-align: center;
	border-left: 0.1rem solid #00a876;
	border-right: 0.1rem solid #00a876;
}

.control {
    margin-bottom: 1.5rem;
	
  }
  
  .control label {
    display: block;
    color: #00a876;
    font-weight: bold;
    margin-bottom: 0.5rem;
	
  }
  
  .control input {
    font: inherit;
    background-color: rgb(253,253,253);
    color: rgb(37,37,37);
    border-radius: 4px;
    border: 1px solid #a7b9b4;
    width: 45%;
    text-align: left;
    padding: 0.25rem;
  }
  .control input:focus{
	  border:1px solid #ffffff;
  }

   .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    color: #00a876;
    background-color: rgb(253,253,253);
    border: 1.5px solid #00a876;
    border-radius: 10px;
    padding: 0.5rem 2.5rem;
	transition: 0.2s ease-in-out;
	transition-property: box-shadow, background-color, color;
  }
  
  .actions button:hover {
    background-color: #00a876;
	color:rgb(253,253,253);
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #40614d;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: #639978;
  } 