.card {
	font: inherit;
	font-weight:480;
	display: inline-block;
	background-color: rgb(253, 253, 253);
	border: 0.1rem solid rgb(34, 34, 34);
	padding-bottom: 0.4rem;
	padding-top: 0.3rem;
	padding-left: 1%;
	padding-right: 1%;
	color: #00a876;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
	border-radius: 6px;
	max-width: 15rem;
	max-height: 8rem;
	align-self:center;
	align-items:center;
	margin: 1rem;
	/* -webkit-transition: background-color 2s ease-in-out;
	-moz-transition: background-color 2s ease-in-out;
	-o-transition: background-color 2s ease-in-out; */
	
	transition: 0.2s ease-in-out;
	transition-property: box-shadow, background-color, color;
}
.card:hover,
.card:active {
	color: rgb(253, 253, 253);
	background-color: #00a876;
	/* -webkit-transition: background-color 2s ease;
	-moz-transition: background-color 2s ease;
	-o-transition: background-color 2s ease;
	transition: background-color 2s ease;
	transition: color 0.5s ease; */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}